<% include ./header %>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <h1 class="text-center">LOGIN</h1>
            <form action="/auth/login" method="post">
                <table class="w-100">
                    <tr>
                        <td>
                            <label>ID</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password</label>
                        </td>
                        <td>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="btn btn-lg btn-primary w-100" type="submit">Login</button>
                        </td>
                    </tr>
                    <tr>
                        <!-- í”Œëž˜ì‰¬ ë©”ì„¸ì§€ê°€ ìžˆì„ ê²½ìš°ì—ë§Œ Alert classê°€ í¬í•¨ëœ ì•Œë¦¼ì°½ í˜¸ì¶œ -->
                        <% if(message.length > 0) { %>
                        <td colspan="2">
                            <div class="alert alert-danger text-center"><%=message%>ðŸ˜…</div>
                        </td>
                        <% }else{ %>
                        <% }%>
                    </tr>
                </table>
                <span class="float-right">Not a member yet? <a href="/auth/join">Join</a></span>
            </form>
        </div>
    </div>
</div>
<% include ./footer %>