<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>비밀번호 변경</h1>
    <form action="/account/modify_pw" method="post">
        <table border="1">
            <tr>
                <td><label>현재 비밀번호</label></td>
                <td><input type="password" name="currentPWD" id="currentPWD"></td>
            </tr>
            <tr>
                <td><label>변경할 비밀번호</label></td>
                <td><input type="password" name="changePWD" id="changePWD"></td>
            </tr>
            <tr>
                <td><label>비밀번호 확인</label></td>
                <td><input type="password" name="changePWDCheck" id="changePWDCheck"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" style="float: right;">변경하기</button></td>
            </tr>
        </table>
    </form>
</body>

</html>